.service-item .item {
    display: flex;
    align-items: center;
    gap: 10px; /* espace entre icône & texte */
}

.service-item-icon {
    width: 72px; /* taille FIXE de la zone icône */
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* empêche la zone de rétrécir */
}

.service-item-icon img, 
.service-item-icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Techno */


.techno-list {
    max-width: 800px!important;
}
.techno-list {
	margin-left: 1%;
}
.title-small {
		display:none;
	}
@media (max-width: 767px) {
	.title-small {
		display:block!important;
	}
}
