<header id="header" class="header header-fixed">
    <div class="header-bg"></div>
    <div class="container-fluid clearfix">
        <div class="brand">
            <a href="/#Intro">
                <div class="brand-name font-custom">Kaloina</div>
            </a>
        </div>

        <button class="nav-toggle-btn a-nav-toggle">
            <span class="nav-toggle">
                <span class="stick stick-1"></span>
                <span class="stick stick-2"></span>
            </span>
        </button>

        <div class="header-content d-none d-md-block">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-tagline">Ravoahangilalao<br /> Kaloina Melodie</div>
                </div>
                <div class="col-md-9">
                    <div class="header-contacts">
                        <!-- <div class="header-contact-item">Call me.&nbsp; <a href="tel:+2613209608654"
                                class="phone-link">(+261) 32-96-086-54</a></div>
                        <div class="header-contact-divider">/</div> -->
                        <div class="header-contact-item"><a href="mailto:melodiekaloina@gmail.com"
                                class="mail-link">melodiekaloina@gmail.com</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hide-menu a-nav-toggle"></div>

    <div class="menu">
        <!-- <div class="menu-lang">
            <a href="#" class="menu-lang-item active">Eng</a>
            <a href="#" class="menu-lang-item">fra</a>
        </div> -->

        <nav class="menu-main" id="accordion">
            <ul id="menuMain">
                <li data-menuanchor="Intro" class="active"><a href="/#Intro">Intro</a></li>
                <li data-menuanchor="Services"><a href="/#Services">Services</a></li>
                <li data-menuanchor="Projects"><a href="/#Projects">Projects</a></li>
                <li data-menuanchor="Awards"><a href="/#Awards">Awards</a></li>
                <li data-menuanchor="Experience"><a href="/#Experience">Experience</a></li>
                <li data-menuanchor="Clients"><a href="/#Clients">Clients</a></li>
                <li data-menuanchor="Testimonials"><a href="/#Testimonials">Testimonials</a></li>
                <li data-menuanchor="Contact"><a href="/#Contact">Contact</a></li>
            </ul>
        </nav>

        <div class="menu-footer">
            <ul class="social social-rounded">
                <li><a href="https://www.linkedin.com/in/kaloina-melodie-ravoahangilalao-882650252" target="_blank"
                        rel="noopener noreferrer"><i class="lni lni-linkedin-original"></i></a></li>
                <li><a href="https://github.com/kaloinamelodie" target="_blank" rel="noopener noreferrer"><i
                            class="lni lni-github-original"></i></a></li>
            </ul>
        </div>
    </div>
</header>