<div class="loading-container" [class.fullscreen]="fullscreen">
  <div class="loading-spinner" [class.spinner-small]="size === 'small'" 
       [class.spinner-medium]="size === 'medium'" 
       [class.spinner-large]="size === 'large'"
       [class.color-primary]="color === 'primary'"
       [class.color-success]="color === 'success'">
    <div class="spinner-circle spinner-circle-1"></div>
    <div class="spinner-circle spinner-circle-2"></div>
    <div class="spinner-circle spinner-circle-3"></div>
  </div>
</div>